$basic-black: black;
$basic-white: white;


$neutral-primary: #222;
$neutral-secondary: #2c3e50;
$neutral-tertiary: #ccc;

$highlight-primary: #00bc77;
$highlight-secondary: #12002b;

//CSS converted variable usable with javascript :
:root {
  // --highlight-primary: #{$highlight-primary};
}
