.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;

  &__logo {
    height: 56px;
  }

  &__sign-in-wrapper {
    display: flex;
    gap: 4px;

    &__logo {
      height: 16px;
      aspect-ratio: 1;
    }

    &__link {
      @include typographies(body-bold);
      text-decoration-color: transparent;
      color: $neutral-secondary;
      @include button-hover($neutral-secondary);
    }
  }
}
