
$typographies: (
  header-big: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 2.5rem,
  ),
  header: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 2rem,
  ),
  header-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.5rem,
  ),
  title-big: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.25rem,
  ),
  title: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 1.2rem,
  ),
  title-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.1rem,
  ),
  body-bold: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1rem,
  ),
  body: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 1rem,
  ),
  body-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 0.85rem,
  ),
  banner-title: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.5rem,
  ),
  banner-body: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 1.2rem,
  ),
);

$mobile-typographies: (
  header-big: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 2.5rem,
  ),
  header: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 2rem,
  ),
  header-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.5rem,
  ),
  title-big: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.25rem,
  ),
  title: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 1.2rem,
  ),
  title-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1.1rem,
  ),
  body-bold: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1rem,
  ),
  body: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 1rem,
  ),
  body-small: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 0.85rem,
  ),
  banner-title: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: bold,
    font-size: 1rem,
  ),
  banner-body: (
    font-family: (
      Avenir,
      Helvetica,
      Arial,
      sans-serif,
    ),
    font-weight: normal,
    font-size: 0.9rem,
  ),
);
